h1 {
    color: blueviolet;
    background: yellow;
}

h2 {
    color: white;
    background: red;
}

h3 {
    color: skyblue;
    background: greenyellow;
}

h4 {
    color: blueviolet;
    background: yellow;
}

h5 {
    color: blueviolet;
    background: yellow;
}

h6 {
    color: blueviolet;
    background: yellow;
}